html, body, input{
  font-family: "微軟正黑體","Titillium Web", sans-serif;
}

body {
  padding-bottom: 70px;
}

/* messages */

.messages {
  font-size: 120%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 90%;
  margin: 5px;
  text-align: center;
}

.messages {
  list-style: none;
  /*padding: 10px 20px 10px 20px;*/
}

.message.typing .messageBody {
  color: gray;
}

.username {
  float: left;
  font-weight: 700;
  overflow: hidden;
  padding-right: 10px;
  text-align: right;
}
